
.contact-us-container {
    background-color: #f8f9fa; /* Light background color */
    padding: 3rem 1.5rem; /* Padding around the content */
  }
  
  .contact-us-header {
    background-color: #284360; /* Accent color for the header */
    color: #ffffff;
    padding: 2rem;
    border-bottom: 4px solid #0056b3; /* Darker accent color for border */
  }
  
  .contact-us-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  .contact-us-subtitle {
    font-size: 1.25rem;
    margin-top: 0.5rem;
  }
  
  .contact-info {
    margin-top: 2rem;
  }
  
  .contact-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .contact-section {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 1.5rem);
  }
  
  .contact-section h3 {
    font-size: 1.5rem;
    color: #466e9b; /* Accent color for headings */
  }
  
  .contact-section p {
    font-size: 1rem;
    color: #333;
  }
  
  .contact-details {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
  }
  
  .contact-details h4 {
    font-size: 1.25rem;
    color: #466e9b; /* Accent color for headings */
  }
  
  .contact-details p {
    font-size: 1rem;
    color: #555;
  }
  
  .map iframe {
    border-radius: 8px;
    width: 100%;
    height: 250px;
    border: 0;
  }
  